html,body,*,::before,::after {
  box-sizing: border-box;
}
body {
  font-family: $font_primary;
  font-size: 18px;
  line-height: 1.5;
  color: $color_text_main;
}
p {
  line-height: 1.6;
}
.entry-content a {
  display: inline-block;
  color: $color_primary;
  text-decoration: underline;
  text-underline-offset: 3px;
  &:hover {
    transform: translateY(-1px);
    text-decoration: none;
  }
  &:focus {
    outline: 1px dotted $color_primary;
  }
}
a,input,button,textarea,select {
  transition: all ease .3s;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  background-color: black!important;
  color: white!important;
}
.skip-link {
  position: fixed;
  top: -100px;
  left: 10px;
  background: #000;
  color: #FFF;
  text-decoration: none;
  border-radius: 6px;
  padding: 10px 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,.25);
  z-index: -999;
  opacity: 0;
  font-size: 18px;
  transition: all ease .3s;
  &:focus {
    top: 10px;
    opacity: 1;
    z-index: 9999;
  }
}

.flexwrap {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.wrapper {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
}
.site-header {
  background: $color_cream;
  padding: 0 0;
  .flexwrap {
    justify-content: space-between;
  }
  .site-logo {
    display: inline-flex;
    align-items: center;
    width: 250px;
    a {
      display: block;
      width: 100%;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .rightCol {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .main-navigation {
    ul {
      margin: 0 0;
      padding: 0 0;
      list-style: none;
    }
    ul.menu {
      display: inline-flex;
      align-items: center;
      gap: 2rem;
      li {
        position: relative;
      }
    }
    ul.menu > li {
      padding: 5px 5px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    ul.menu > li > a {
      display: inline-flex;
      padding: 10px 5px;
      text-decoration: none;
      color: $color_primary;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: 0.02em;
      span {
        display: inline-block;
        position: relative;
        // &:before {
        //   content:"";
        //   display: block;
        //   width: 100%;
        //   height: 10px;
        //   position: absolute;
        //   left: 0;
        //   bottom: -8px;
        //   background-image: url('images/wave-line.png');
        //   background-size: contain;
        //   background-repeat: repeat-x;
        // }
        b {
          display: inline-block;
          width: 100%;
          height: 10px;
          position: relative;
          overflow: hidden;
          position: absolute;
          left: 0;
          bottom: -8px;
        }
        .wave {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          // background-image: url('images/wave-line.png');
          background-size: 100% 120%;
          background-position: right center;
          background-repeat: no-repeat;
          pointer-events: none;
          opacity: 1;
          transform: translateX(-100vw);
          transition: transform ease .45s, opacity ease .2s;
        }
      }
    }

    ul.menu > li > a:hover,
    ul.menu > li > a:focus,
    ul.menu > li.menu-item-has-children:hover > a,
    ul.menu > li.menu-item-has-children:focus-within > a {
      color: $color_secondary;
      outline: 0;
      span .wave {
        opacity: 1;
        transform: translateX(0);
      }
    }

    ul.menu > li.menu-item-has-children {
      position: relative;
      ul.sub-menu {
        display: none;
        position: absolute;
        left: 0;
        transition: transform ease .3s, opacity ease .2s;
        z-index: -99;
        pointer-events: none;
        opacity: 0;
        min-width: 210px;
        background: #FFF;
        top: 80px;
        padding: 5px 0;
        box-shadow: 0 15px 15px rgba(0,0,0,.1);
        transform: translateY(20px);
        &:has(li) {
          display: block;
        }
        a {
          display: block;
          text-decoration: none;
          padding: 5px 15px;
          color: $color_secondary;
          &:hover, &:focus {
            color: $color_primary;
          }
          &:focus {
            outline: 1px dotted $color_primary;
          }
        }
      }
    }
    ul.menu > li:hover,
    ul.menu > li:focus-within {
      ul.sub-menu {
        opacity: 1;
        z-index: 200;
        pointer-events: auto;
        transform: translateY(0);
      }
    }
  }
}

.site {
  position: relative;
  overflow: hidden;
}

/* MOBILE STYLE */
.MobileHeader {
  display: none;
}

.mobile-menu-bar {
  appearance: none;
  border: none;
  display: block;
  width: 40px;
  height: 40px;
  background: transparent;
  position: absolute;
  top: 25px;
  right: 28px;
  span.bar {
    display: block;
    width: 90%;
    height: 2px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    &:before, &:after {
      content:"";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #000;
    }
    &:before {
      transform: translateY(-10px);
    }
    &:after {
      transform: translateY(10px);
    }
  }
}
.mobile-navigation {
  display: none;
  position: fixed;
  top: 0;
  right: -500px;
  max-width: 430px;
  width: 100%;
  height: 100%;
  background: #FFF;
  overflow: hidden;
  box-shadow: 0 0 25px rgba(0,0,0,.15);
  animation-duration: .5s;
  animation-fill-mode: both;
  transition: all ease .3s;
  .mobile-menu-overlay {
    padding: 60px 0 50px;
    height: 100%;
    overflow: auto;
  }

  &.open {
    display: block;
    animation-name: slideInRight;
    right: 0;
  }
  &.closed {
    display: block;
    animation-name: slideOutRight;
  }

  ul {
    margin: 0 0;
    padding: 0 0;
    list-style: none;
  }
  ul.menu {
    border-top: 1px solid #ececec;
    a {
      display: block;
      text-decoration: none;
      letter-spacing: 0.03em;
    }
  }
  ul.menu > li > a {
    display: block;
    padding: 10px 15px;
    font-family: $font_secondary;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      background: #f7f7f7;
    }
  }
  ul.menu > li {
    border-bottom: 1px solid #ececec;
    span.parent {
      display: block;
      width: 100%;
      position: relative;
      a {
        display: block;
        padding: 10px 20px;
        font-family: $font_secondary;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.3;
        text-decoration: none;
        color: #000;
        text-transform: uppercase;
        margin-right: 53px;
        &:hover {
          background: #f7f7f7;
        }
      }
      .mobile-menu-dropdown {
        appearance: none;
        border: none;
        background: #ececec;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        position: absolute;
        top: 0;
        right: 0;
        width: 53px;
        height: 46px;
        z-index: 50;
        color: #000;
        i {
          display: inline-block;
          transition: transform ease .3s;
        }
        &[aria-expanded="true"] {
          i {
            transform: scaleY(-1);
          }
        }
      }
    }

    ul.sub-menu {
      display: none;
      padding: 15px 15px;
      border-top: 1px solid #ececec;
      position: relative;
      margin-top: -1px;
      background: #ececec;
      a {
        display: block;
        padding: 10px 15px;
        font-family: $font_secondary;
        font-size: 18px;
        color: #000;
        &:hover, &:focus {
          background: #F8F8F8;
          color: $color_primary;
        }
      }
    }
  }
}

.mobile-menu-close {
  display: block;
  width: 30px;
  height: 30px;
  padding: 0 0;
  background: transparent;
  position: absolute;
  top: 15px;
  right: 20px;
  appearance: none;
  border: none;
  &:before, &:after {
    content:"";
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 0;
  }
  &:before {
    transform: translateY(-50%) rotate(45deg);
  }
  &:after {
    transform: translateY(-50%) rotate(-45deg);
  }
}

.hero {
  position: relative;
  width: 100%;
  height: 85vh;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  z-index: 50;
  .hero_inner_content {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bottom-wave {
    position: absolute;
    left: 0;
    bottom: -2vw;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 15;
    background-image: url('images/wave.png');
    background-position: bottom center;
    background-size: 100% 10%;
    background-repeat: no-repeat;
    @media screen and (min-width: 1600px) {
      background-size: 100%;
    }
  }
}

.hero__media {
  position: absolute;
  inset: 0;
  z-index: 0;
  -webkit-clip-path: url(#wavePath);
  clip-path: url(#wavePath);
}

.hero__media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  // object-position: center;
  object-position: bottom;
  display: block;
}

.hero__content {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 2rem;
  max-width: 780px;
  width: 100%;
  transform: translateY(-3vw);
  &:after {
    content:"";
    display: block;
    width: 170%;
    height: 65%;
    position: absolute;
    top: 40%;
    left: 50%;
    background: #FFF;
    border-radius: 100%;
    filter: blur(90px);
    transform: translateX(-50%) translateY(-50%) scale(1.5);
    pointer-events: none;
  }
  .hero__inner {
    position: relative;
    z-index: 10;
  }
}

.hero__title {
  font-size: clamp(1.75rem, 4vw, 5rem);
  font-weight: 600;
  line-height: 1.1;
  margin: 0 0 .5rem;
  color: $color_primary;
}

.hero__subtitle {
  font-family: $font_secondary;
  font-size: clamp(1rem, 1.8vw, 1.5rem);
  font-weight: 500;
  line-height: 1.3;
  color: $color_secondary;
  margin: 0 0 1.5rem;
}

.hero__buttons {
  display: flex;
  justify-content: center;
  p {
    margin: 0 0;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 13px 30px 12px;
    background: $color_light_green;
    color: $color_green;
    font-size: 20px;
    font-weight: 500;
    min-width: 280px;
    border-radius: 100px;
    border: 2px solid #FFF;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .35);
    strong, b {
      font-family: $font_secondary;
      font-size: clamp(18px,2vw, 25px);
      font-weight: 500;
      line-height: 1.1;
      display: block;
      margin: 0 0 2px;
    }

    &:has(a) {
      padding: 0 0;
      border: none;
      background: transparent;
      min-width: auto;
      box-shadow: none;
      border-radius: 0;
      a {
        text-decoration: none;
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 12px 20px;
        background: $color_light_green;
        color: $color_green;
        font-size: 16px;
        font-weight: 500;
        min-width: 265px;
        border-radius: 100px;
        border: 2px solid #FFF;
        box-shadow: 0 15px 25px rgba(0, 0, 0, .35);
        &:hover, &:focus {
          transform: translateY(-3px);
        }
      }
    }
  }
}

body.home {
  background: $color_cream;
  .site-content:before {
    opacity: 0.35;
  }
  .site-main {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.columns-locations {
  .wrapper {
    width: 100%;
    @include mid {
      max-width: 1700px;
    }
  }
  .section-title {
    text-align: center;
    margin-bottom: 40px;
    h2 {
      font-size: 40px;
      font-weight: 500;
      line-height: 1.2;
      margin: 0 0;
    }
  }
  .flexwrap {
    margin-left: -20px;
    margin-right: -20px;
    .infoBox {
      width: 100%;
      padding: 20px;
      margin: 40px 0;
      @include sm {
        width: 50%;
      }
      @include mid {
        width: 25%;
      }
      .inside {
        position: relative;
        .logo {
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 5;
          display: flex;
          justify-content: center;
          .logo-image {
            display: block;
            text-decoration: none;
            width: 120px;
            height: 120px;
            background: #fff;
            border-radius: 100%;
            position: absolute;
            top: -60px;
            background-size: 80%;
            background-position: center;
            background-repeat: no-repeat;
            box-shadow: 0 5px 15px rgba(0,0,0,.15);
          }
          a.logo-image {
            transition: all ease .3s;
            &:hover, &:focus {
              transform: scale(1.2);
            }
          }
        }
      }
      figure {
        margin: 0 0 15px;
        position: relative;
        padding-bottom: 80%;
        overflow: hidden;
        border-radius: 10px;
        img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
          object-position: center;
        }
      }
      .details {
        text-align: center;
        font-size: 16px;
        h3 {
          margin: 0 0 10px;
          font-size: 25px;
          font-weight: 600;
          letter-spacing: 0.03em;
          line-height: 1.2;
        }
        @include sm {
          text-align: left;
        }
        p {
          color: #000;
        }
      }
      .button-wrap {
        margin-top: 25px;
      }
      a.button {
        min-width: 215px;
        text-align: center;
      }
    }
  }
}

.site-content {
  position: relative;
  padding-bottom: 100px;
}
.site-main {
  padding-top: 150px;
  position: relative;
  z-index: 10;
  overflow: hidden;
}

.button {
  display: inline-block;
  text-decoration: none;
  appearance: none;
  border: none;
  border-radius: 100px;
  padding: 14px 30px 15px;
  font-family: $font_primary;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #FFF;
  transition: all ease .4s;
  border: 1px solid $color_secondary;
  background: $color_secondary;
  position: relative;
  overflow: hidden;
  z-index: 2;
  &:after {
    // font-family: "Font Awesome 6 Free";
    // font-weight: 900;
    // font-size: 15px;
    // content: "\f061";
    content:"";
    display: inline-block;
    opacity: 0;
    width: 0;
    height: 18px;
    overflow: hidden;
    transform: translateX(-20px);
    transition: all ease .3s;
    position: absolute;
    background-image: url('images/arrow.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  span {
    display: inline-block;
    transition: all ease .3s;
  }
  &:hover, &:focus {
    background: transparent;
    color: $color_secondary;
    &:after {
      opacity: 1;
      width: 18px;
      transform: translateX(4px);
    }
    span {
      transform: translateX(-12px);
    }
  }
}

.repeatable {
  h2 {
    font-family: $font_secondary;
    font-size: clamp(30px,5vw,40px);
    font-weight: 600;
    line-height: 1.2;
    color: $color_primary;
    margin: 0 0;
  }
  p:has(.custom-button-element) {
    margin-top: 30px;
  }
}

.repeatable_layout1 {
  position: relative;
  z-index: 10;
  .flexwrap {
    justify-content: center;
    &:has(.imageCol):has(.textCol) {
      justify-content: space-between;
      align-items: center;
    }
  }
  .fxcol {
    width: 100%;
    @include tab {
      width: 47%;
    }
    
    &.textCol {
      strong {
        color: $color_secondary;
      }
      @include tab {
        padding-left: 3vw;
      }
    }
    .images {
      display: flex;
      flex-wrap: wrap;
      margin-left: -6px;
      margin-right: -6px;
    }
    .imgwrap {
      margin: 0 0;
      width: 50%;
      position: relative;
      padding: 6px;
      .inner {
        padding-bottom: 60%;
        width: 100%;
        float: left;
        overflow: hidden;
        border-radius: 6px;
        position: relative;
      }
      img {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: center;
      }
      &.first {
        width: 100%;
        padding: 6px 6px;
        img {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}

.repeatable_layout2 {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  &:has(.images) {
    .textCol {
      margin-bottom: 50px;
    }
  }
  .fxcol {
    position: relative;
    z-index: 20;
  }
  .textCol {
    .textWrap {
      max-width: 880px;
      width: 100%;
      margin: 0 auto;
    }
  }
  .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
    @media screen and (max-width: 1024px) {
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
    }
    .ctaWrap {
      width: 48%;
      padding: 15px;
      margin: 10px 0;
      @include tab {
        width: 25%;
      }
      @media screen and (max-width: 500px) {
        width: 100%;
      }
      .cta {
        display: block;
        text-decoration: none;
        color: #F9F5EB;
        position: relative;
        padding-bottom: 100%;
        border-radius: 0 0 10px 10px;
        overflow: hidden;
        .bgcolor {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 0 0 10px 10px;
          background: #6EA5A5;
          -webkit-mask-image: url('images/cta-top-wave3.png');
          mask-image: url('images/cta-top-wave3.png');
          mask-repeat: no-repeat;
          mask-size: cover;
          &:after {
            content:"";
            display: block;
            width: 100%;
            height: 0;
            position: absolute;
            left: 0;
            bottom: 0;
            background-image: url('images/cta-hover-fill.png');
            background-position: top center;
            background-size: cover;
            background-repeat: no-repeat;
            transition: all ease .65s;
            z-index: 2;
          }
        }
        figure {
          margin: 0 0;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all ease .4s;
          img {
            width: clamp(100px,8vw,150px);
            height: auto;
          }
        }
        .icon-content {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 5;
          width: 100%;
          height: 100%;
        }
        .name {
          font-family: $font_secondary;
          font-size: 22px;
          display: block;
          padding: 10px 15px;
          color: $color_cream;
          position: absolute;
          right: 0;
          bottom: 0;
          span {
            display: inline-block;
            position: relative;
            width: auto;
          }
        }
      }
      a.cta {
        transition: transform ease .3s;
        .name {
          width: 100%;
          span {
            z-index: 10;
            color: $color_cream;
          }
        }
        .arrow {
          display: block;
          width: 50px;
          height: 50px;
          background: $color_light_green;
          position: absolute;
          right: 0;
          bottom: 0;
          border-radius: 10px 0 10px 0;
          transition: all ease .3s;
          &:before {
            content:"";
            display: block;
            width: 50px;
            height: 50px;
            position: absolute;
            top: 0;
            right: 0;
            background-image: url('images/cta-arrow.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 50%;
          }
          span {
            display: inline-block;
            position: relative;
            z-index: 10;
            transition: all ease .3s;
          }
        }
        &:hover, &:focus {
          transform: scale(1.03);
          .arrow {
            width: 100%;
            &:before {
              background-image: url('images/cta-arrow-hover.svg');
            }
          }
          .name span {
            color: #527338!important;
          }
          .bgcolor:after {
            height: 150%;
          }
          figure {
            transform: translateY(-5px) scale(1.05);
          }
        }
      }
    }
  }
}

body.page-template-landing-page {
  background: #FFF;
  .site-main {
    padding-top: 0;
    margin-top: -20px;
  }
  .repeatable.first {
    background: $color_cream;
    padding-top: 150px;
    padding-bottom: 150px;
    position: relative;
    z-index: 20;
    &:before {
      content:"";
      display: block;
      width: 95%;
      height: 150%;
      position: absolute;
      top: -30%;
      left: -30%;
      pointer-events: none;
      background-image: url('images/wood-pattern.svg');
      background-position: top left;
      background-repeat: no-repeat;
      background-size: 80%;
    }
    &:after {
      content:"";
      display: block;
      width: 85%;
      height: 110%;
      position: absolute;
      top: 30%;
      right: -70%;
      pointer-events: none;
      background-image: url('images/wood-pattern.svg');
      background-position: top left;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  #primary {
    min-height: 30em;
  }
}



